.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  width: 254.84px;
  height: 68.94px;
  margin: 34px auto 0;
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .header__logo {
    max-width: 190px;
    padding-bottom: 50px;
  }
}

.header__content {
  display: flex;
  flex-direction: column;
  width: 984px;
  height: 983px;
  top: 194px;
  left: 148px;
  align-items: center;
}
.header__content-image {
  max-width: 990px;
  margin: auto;
}
